.wrapper{
    display: table;
    height: 100%;
    width: 100%;
}
.wrapper > div{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.wrapper > div > div{
    display: inline-block;
}
.wrapperCustom{
    position: relative;
}
.wrapperCustom > div{
    position: absolute;
    top: 50%;
    left: 50%;
}
body{
    padding-bottom: 30px;
    background-color: #f7f7f7;
}

.middleDiv{
    position: absolute;
//    top: 50%;
    left: 50%;
    margin-left: -131px;
//    margin-top: -129px;
    margin-top: 10%;
    background-color: #ffffff;
    padding: 32px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    border-radius: 2px;
}